@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  color: white;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100vw;
  height: 200vh;
  z-index: 100;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  margin-top: 70px;
}

header {
  position: fixed;
  width: 100%;
  left:0;
  top: 0;
  z-index: 10000;
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: right;
}

nav a {
  color:white;
  padding:10px;
}

section {
  min-height: 100vh;
  font-size: 3.5rem;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  padding:auto 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  margin-top: 50px;
}

.myicon img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 10px black;
  margin-top: 50px;
}

.item_center {
  justify-items: center;
}

.myskill {
  padding-bottom: 50px;
  padding-top:100px;
}

.skills {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  width: 20%;
}

.js {
  width: 17.5%;
}

.php {
  margin: 5% 0;
}

.laravel {
  width: 16%;
  margin: 3% 0;
}

.next {
  background-color: white;
  border-radius: 20%;
  padding: 0 13px;
  margin: 5% 0;
}



.projects {
  display:flex;
  flex-direction: column;
}

.project {
  display:flex;
  width:80%;
  margin:0 auto;
  margin-top:80px;
}

.project-image {
  width:45%;
  display: flex;
  align-items: center;
}

.project-image a{
  margin:auto;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
}
.project-image img {
  margin:auto;
  width:90%;
  border-radius: 15px;
  opacity: 0.9;
}

.project-image img:hover {
  opacity: 1;
  
}

.project-content {
  width:55%;
  background-color: white;
  opacity: 0.8;
  color:black;
  border-radius: 15px;
}


.project-content p {
  font-size:1rem;
}

.project-content span {
  display:inline-block;
  border:1px solid;
  border-radius: 5px;
}

.anim-box.slidein.is-animated {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}

#conect img{
  opacity: 0.8;
}

#conect a{
  text-decoration: none;
}

#conect img:hover{
  opacity: 1;
}



.twitter{
  width:17%;
  margin:2% 0;
}

.hithub{
  width:40%;
}

.mail{
  width:16%;
}

.wantedly{
  margin:2% 0;
}